@using AdminApi.Models
@using AdminApi.Models.Forms
@using AdminApi.Services
@using Domain.Models
@using Domain.Services
@using TinifyAPI

@inject UploadImagesService UploadService;

<div class="container pt-3">

    @if (loading)
    {
        <Spinner Color="SpinnerColor.Secondary" />
    }
    <div>
        <img src="@CurrentNftImage" alt="" class="img-fluid"/>
    </div>
    <div class="d-flex justify-content-between">
        <Modal @ref="modal" />
        <Button 
            Color="string.IsNullOrEmpty(NftArtModel.NftUrl) 
                ? ButtonColor.Danger
                : ButtonColor.Primary"
            @onclick="() => ShowModal(NftArtModel.NftUrl)"
                Active="CurrentNftImage == NftArtModel.NftUrl">
            Original
        </Button>

        @if (!string.IsNullOrEmpty(NftArtModel.OptimizedImages?.OriginalCompression))
        {
            <Button 
                Color="ButtonColor.Success"
                    Active="CurrentNftImage == NftArtModel.OptimizedImages.OriginalCompression"
                @onclick="() => ShowModal(NftArtModel.OptimizedImages.OriginalCompression)"
            >
                Compressão (sem redimensão)
            </Button>

            @foreach (var resizedImage in NftArtModel.OptimizedImages.ResizedImages)
            {
                <Button Color="ButtonColor.Success"
                    @onclick="() => ShowModal(resizedImage.Source)"
                    Active="CurrentNftImage == resizedImage.Source">
                    Redimensionado (@resizedImage.Height)
                </Button>
            }
        }
    </div>
    <div class="mb-3">
        <label>Replace Image:
            <InputFile @ref="inputFile" OnChange="LoadNftFile" class="form-control"/>
        </label>
    </div>
    
</div>

@code {
    [Parameter]
    public string NftArtImageSource { get; set; } = string.Empty;

    [Parameter]
    public NftArtForm NftArtModel { get; set; } = new();

    [Parameter]
    public string NftArtId { get; set; } = string.Empty;

    [Parameter]
    public EventCallback<NftMediaImages> NftImageUrlChanged { get; set; }

    private Modal modal = default!;
    private InputFile inputFile = default!;

    private string? CurrentNftImage = null;

    private bool loading = false;

    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(1000);

        CurrentNftImage = NftArtModel.NftUrl;
    }

    private async Task ShowModal(string imageSource)
    {
        CurrentNftImage = imageSource;
        // var parameters = new Dictionary<string, object>();
        // parameters.Add("ImageSource", imageSource);
        // await modal.ShowAsync<ImageModalContent>(title: "Image Preview", parameters: parameters);
    }

    private void TriggerFileInput()
    {
    }

    private async Task LoadNftFile(InputFileChangeEventArgs eventArgs)
    {

        loading = true;

        using var stream = eventArgs.File.OpenReadStream(maxAllowedSize: 25 * 1024 * 1024);

        var (nftUrl, optimizedImages) = await UploadService.OptimizeImages(NftArtModel.Id, NftArtModel.Name, stream, eventArgs.File.ContentType);

        NftMediaImages mediaImages = new NftMediaImages
        {
            NftUrl = nftUrl,
            OptimizedImages = optimizedImages
        };

        await NftImageUrlChanged.InvokeAsync(mediaImages);

        loading = false;
    }

    private static async Task<byte[]> GetByteArrayContent(Stream stream)
    {
        using var memoryStream = new MemoryStream((int)stream.Length);
        await stream.CopyToAsync(memoryStream);
        var byteArray = memoryStream.ToArray();

        return byteArray;
    }

    private async Task<Stream> CompressImage(byte[] byteArray)
    {
        var compressedBuffer = await Tinify.FromBuffer(byteArray).ToBuffer();

        return new MemoryStream(compressedBuffer);
    }

    private async Task<Stream> ResizeImage(byte[] byteArray, int height)
    {
        var resizedBuffer = await Tinify.FromBuffer(byteArray)
            .Resize(new
            {
                method = "scale",
                height
            })
            .ToBuffer();

        return new MemoryStream(resizedBuffer);
    }
}
