@using AdminApi.Models.Forms
@using Domain.Models
@using Microsoft.AspNetCore.Components.Forms
@using System.ComponentModel.DataAnnotations
@using BlazorBootstrap

@if (NftArtModel == null)
{
    <Spinner />
}
else
{
    <div class="my-4">
        @foreach (var owner in Owners)
        {
            <div class="d-flex">
                <div class="mb-3 mx-2">
                    <label for="address" class="form-label">Address</label>
                    <InputText id="address" class="form-control" @bind-Value="owner.Address" style="width: 400px" />
                </div>
                <div class="mb-3 mx-2">
                    <label for="quantity" class="form-label">Quantity</label>
                    <InputNumber id="quantity" class="form-control" @bind-Value="owner.Quantity" />
                </div>
                <div class="mb-3 mx-2">
                    <label for="alias" class="form-label">Alias</label>
                    <InputText id="alias" class="form-control" @bind-Value="owner.Alias" />
                </div>
                <Button Color="ButtonColor.Danger" @onclick="() => DeleteOwner(owner)">
                    <Icon Name="IconName.Trash" />
                </Button>
            </div>
        }

        @if (newOwner is not null)
        {
            <div class="d-flex">
                <div class="mb-3 mx-2">
                    <label for="address" class="form-label">Address</label>
                    <InputText id="address" class="form-control" @bind-Value="newOwner.Address" style="width: 400px" />
                </div>
                <div class="mb-3 mx-2">
                    <label for="quantity" class="form-label">Quantity</label>
                    <InputNumber id="quantity" class="form-control" @bind-Value="newOwner.Quantity" />
                </div>
                <div class="mb-3 mx-2">
                    <label for="alias" class="form-label">Alias</label>
                    <InputText id="alias" class="form-control" @bind-Value="newOwner.Alias" />
                </div>
                <Button Color="ButtonColor.Primary" @onclick="SubmitNewOwner">
                    <Icon Name="IconName.Upload" />
                </Button>
            </div>
        }
    </div>
    <div class="d-flex">
        <Button Color="ButtonColor.Success" @onclick="AddOwner" class="mx-3" Disabled="newOwner is not null" Loading="loading">
            <Icon Name="IconName.Plus" Size="IconSize.x2" />
        </Button>
        <Button Color="ButtonColor.Primary" @onclick="SubmitOwners" class="mx-3" Disabled="newOwner is not null" Loading="loading">
            Salvar
        </Button>
    </div>
}


@code {
    [Parameter]
    public NftArtForm NftArtModel { get; set; } = new();

    [Parameter]
    public EventCallback<NftArtForm> NftArtModelChanged { get; set; }

    private List<OwnerForm> Owners { get; set; } = [];
    private OwnerForm? newOwner;
    private bool loading = false;

    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(1000);

        Owners = NftArtModel.Owners.Select(o => new OwnerForm
        {
            Address = o.Address,
            Quantity = o.Quantity,
            Alias = o.Alias
        }).ToList();
    }

    private void DeleteOwner(OwnerForm owner)
    {
        Owners.Remove(owner);
    }

    private void AddOwner()
    {
        newOwner = new();
    }

    private void SubmitNewOwner()
    {
        Owners.Add(newOwner!);
        newOwner = null;
    }

    private async Task SubmitOwners()
    {
        loading = true;

        NftArtModel.Owners = Owners.Select(o => new Owner
        {
            Address = o.Address,
            Quantity = o.Quantity,
            Alias = o.Alias
        }).ToList();

        await NftArtModelChanged.InvokeAsync(NftArtModel);

        loading = false;
    }
}
