div#bio-content {
  h2,
  h3 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 24px;
  }

  h6 {
    font-size: 10px;
  }

  blockquote {
    font-size: 12px;
    font-style: italic;
    margin: 24px 0 24px 24px;
  }

  p {
    margin: 24px 0;
  }

  @media (min-width: 640px) {
    h2,
    h3 {
      font-size: 20px;
    }

    h6 {
      font-size: 12px;
    }

    blockquote {
      font-size: 16px;
    }
  }

  @media (min-width: 1280px) {
    h2,
    h3 {
      font-size: 24px;
    }

    h6 {
      font-size: 14px;
    }

    blockquote {
      font-size: 20px;
    }
  }
}

@keyframes scroll {
  0% {
    transform: translateY(-50%);
  }
  100% {
    transform: translateY(0);
  }
}

.animate-scroll {
  animation: scroll 30s linear infinite;
  will-change: transform;
}

/* Optional: Pause animation on hover */
.animate-scroll:hover {
  animation-play-state: paused;
}