.vertical-slider {
  .swiper-slide {
    opacity: 1;
    transition: opacity 0.2s ease-out;
  }

  .swiper-slide.vertical-slide-current,
  .swiper-slide:hover {
    opacity: 1;
  }

  .vertical-slide-link {
    pointer-events: none;
  }

  .swiper-slide-active .vertical-slide-link {
    pointer-events: auto;
    cursor: pointer;
  }
}
