.vertical-slider {
  .swiper-slide {
    opacity: 0.4;
  }

  .swiper-slide.vertical-slide-current {
    opacity: 1;
  }

  .vertical-slide-link {
    pointer-events: none;
  }

  .swiper-slide-active .vertical-slide-link {
    pointer-events: auto;
    cursor: pointer;
  }
}
