@page "/collections/{id}"
@using AdminApi.Models
@using AdminApi.Services
@using MongoDB.Bson
@inject ListCollectionsService CollectionsService

<h3>Collection</h3>

<EditForm Model="CollectionModel" OnValidSubmit="SubmitCollection">
    <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <InputText id="name" class="form-control" @bind-Value="CollectionModel.Name" />
    </div>
    <div class="mb-3">
        <label for="year" class="form-label">Year</label>
        <InputText id="year" class="form-control" @bind-Value="CollectionModel.Year" />
    </div>
    <div class="mb-3">
        <Switch @bind-Value="CollectionModel.Visible" Label="Visible" />
    </div>
    <button type="submit" class="btn btn-success">
        @if (loading)
        {
            <Spinner />
        }
        else
        {
            <span>Submit</span>
        }
    </button>
</EditForm>

@code {
    [Parameter] 
    public string Id { get; set; }

    private bool loading = false;

    private CollectionResponse CollectionModel { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        CollectionModel = await  CollectionsService.GetCollection(ObjectId.Parse(Id));
    }

    private async Task SubmitCollection()
    {
        loading = true;
        await CollectionsService.UpdateCollection(new UpdateCollectionBuilder(ObjectId.Parse(Id))
            .Set(c => c.Name, CollectionModel.Name)
            .Set(c => c.Year, CollectionModel.Year)
            .Set(c => c.Visible, CollectionModel.Visible)
        );
        loading = false;
    }
}
