@page "/nfts"
@using AdminApi.Components.Modals
@using AdminApi.Models
@using AdminApi.Services
@using Domain.Endpoints.Commands.CreateOpenSeaNft
@using Domain.Models
@using Domain.Models.Enums
@using Domain.OpenSea
@inject ListNftsService NftService
@inject NavigationManager Navigation


@attribute [StreamRendering]


<PageTitle>NFTs</PageTitle>

<h1>NFTs</h1>

<p>This component demonstrates showing data.</p>

@if (nfts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <Modal @ref="modal" />
    <Button Color="ButtonColor.Primary" @onclick="OpenCreateNftModal">Criar NFT com link</Button>
    <Button Color="ButtonColor.Primary" @onclick="OpenCreateNftFromScratchModal">Criar NFT do zero</Button>

    <Grid 
        TItem="NftArtResponse"
        Class="table table-hover table-bordered table-striped"
        DataProvider="NftsDataProvider"
        AllowFiltering="true"
        AllowPaging="true"
        AllowSorting="true"
        AllowRowClick="true"
        Responsive="true"
        OnRowClick="OnRowClick"
    >
        <GridColumn TItem="NftArtResponse" HeaderText="Preview" HeaderTextAlignment="Alignment.Center" PropertyName="LowestCompressionUrl" Filterable="false">
            <div class="d-flex justify-content-center">
                <img src="@context.LowestCompressionUrl" style="max-width: 150px" />
            </div>
        </GridColumn>
        <GridColumn TItem="NftArtResponse" HeaderText="Name" PropertyName="Name">
            @context.Name
        </GridColumn>
        <GridColumn TItem="NftArtResponse" HeaderText="Description" PropertyName="CompactDescription">
            @context.CompactDescription
        </GridColumn>
        <GridColumn TItem="NftArtResponse" HeaderText="Collection" PropertyName="Collection" Filterable="false">
            @context.Collection
        </GridColumn>
        <GridColumn TItem="NftArtResponse" HeaderText="1-1" PropertyName="OneOfOne">
            @if(context.OneOfOne)
            {
                <Icon Name="IconName.CheckAll" Size="IconSize.x2" Color="IconColor.Success" />
            }
            else
            {
                <Icon Name="IconName.X" Size="IconSize.x2" Color="IconColor.Danger" />
            }
        </GridColumn>
        <GridColumn TItem="NftArtResponse" HeaderText="Edition" PropertyName="Edition">
            @if (context.Edition)
            {
                <Icon Name="IconName.CheckAll" Size="IconSize.x2" Color="IconColor.Success" />
            }
            else
            {
                <Icon Name="IconName.X" Size="IconSize.x2" Color="IconColor.Danger" />
            }
        </GridColumn>
    </Grid>
}

@code {
    private IEnumerable<NftArtResponse>? nfts;
    private Modal modal = default!;

    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(1000);

        nfts = await NftService.ListNfts();

        base.OnInitialized();
    }

    private async Task<GridDataProviderResult<NftArtResponse>> NftsDataProvider(GridDataProviderRequest<NftArtResponse> request)
    {
        return request.ApplyTo(await NftService.ListNfts());
    }

    private Task OnRowClick(GridRowEventArgs<NftArtResponse> args)
    {
        Navigation.NavigateTo($"/nfts/{args.Item.Id}");

        return Task.CompletedTask;
    }

    private async Task OpenCreateNftModal()
    {
        await modal.ShowAsync<CreateNftFromLinkModal>(title: "Criar NFT");
    }

    private async Task OpenCreateNftFromScratchModal()
    {
        await modal.ShowAsync<CreateNftFromScratchModal>(title: "Criar NFT");
    }

    private static string GetNftDescription(NftArtResponse nftArt)
    {
        if (string.IsNullOrEmpty(nftArt.Description))
        {
            return string.Empty; 
        }
        if (nftArt.Description.Length <= 50)
        {
            return nftArt.Description;
        }

        return $"{nftArt.Description.Substring(0, 50)}...";
    }
}
