@page "/nfts"
@using AdminApi.Models
@using AdminApi.Services
@using Domain.Models
@attribute [StreamRendering]
@inject ListNftsService NftService

<PageTitle>NFTs</PageTitle>

<h1>NFTs</h1>

<p>This component demonstrates showing data.</p>

@if (nfts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Nft Chain</th>
                <th>Ready</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var nft in nfts)
            {
                <tr>
                    <td>@nft.Name</td>
                    <td>@GetNftDescription(nft)</td>
                    <td>@nft.NftChain</td>
                    <td>
                        @if (nft.IsReady())
                        {
                            <span>yes</span>
                            <span class="bi bi-check-circle-nav-menu" aria-hidden="true"></span>
                        }
                        else
                        {
                            <span>no</span>
                            <span class="bi bi-file-x-fill-nav-menu" aria-hidden="true"></span>
                        }
                    </td>
                    <td>
                        <a class="nav-link" href="nfts/@nft.Id">
                            Go to
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private IEnumerable<NftArtResponse>? nfts;

    protected override async Task OnInitializedAsync()
    {
        nfts = await NftService.ListNfts();
    }

    private static string GetNftDescription(NftArtResponse nftArt)
    {
        if (string.IsNullOrEmpty(nftArt.Description))
        {
            return string.Empty; 
        }
        if (nftArt.Description.Length <= 50)
        {
            return nftArt.Description;
        }

        return $"{nftArt.Description.Substring(0, 50)}...";
    }
}
